body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #fbfbfb;   
}

#event-details {
    border: 1px solid #989898;
    padding: 20px;
    border-radius: 10px;
    background-color: #776262;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#event-details p {
    margin: 0;
    padding: 10px 20px;
    font-size: 18px; 
}

#event-details p:nth-child(odd) {
    background-color: #f9f9f9;
}

#event-details p:nth-child(even) {
    background-color: #f0f0f0;
}

#event-details h3 {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 24px; 
}

#event-details .label {
    font-weight: bold;
    color: #e5e5e5;
}

body {
    background: linear-gradient(to bottom, #484a94, #813d94);
    color: #333; 
}

#event-details {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#event-details h3 {
    color: #007bff;
}

#event-details p:nth-child(odd) {
    background-color: #f9f9f9;
}

#event-details p:nth-child(even) {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #ff4d4d;
}
